@use '../variable' as var;
@use '../mixin' as mix;

.button {
  @include mix.displayFlex(flex, center, center);
  @include mix.adaptivFont(var.$generalBigTextSize, var.$generalBigTextSizeMin);
  line-height: var.$generalBigLineHeight;
  font-weight: 800;
  background: #fff;
  border-radius: 5px;
  transition: .5s;

  @media (min-width: 770px) {
    &:hover {
      color: var.$lightColor;
      background-color: var.$accentColor;
    }
  }
}

.button_black {
  color: var.$lightColor;
  background-color: var.$accentColor;

  @media (min-width: 770px) {
    &:hover {
      color: var.$accentColor;
      background-color: var.$lightColor;
    }
  }
}