@use '../variable' as var;
@use "../mixin" as mix;
@use '../extentsions';

html,
body {
	height: 100%;
	font-family: var.$family;
	font-weight: 400;
	line-height: var.$generalLineHeight;
	letter-spacing: var.$letterSpacing;
	color: var.$generalColorText;
	scroll-behavior: smooth;
}

h1 {
	margin: 0;
}

button {
	outline: none;
}

button:focus {
	outline: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
}
 
a {
	font-family: var.$family;
	text-decoration: none;
	color: var.$generalColorText;
}

a:focus {
	outline: none;
}

.stop-scroll {
	overflow: hidden;
}

.wrapper {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
	font-size: var.$generalBigTextSize;
}

.container {
	max-width: #{var.$widthContainer + px};
	margin: 0 auto;
	padding: 0 20px;
}

.main-section {
	padding: 20px 0;
}

.main-title {
	@include mix.adaptivFont(var.$titleFontSize, var.$titleFontSizeMin);
	color: var.$titleColor;
	font-weight: var.$titleWeight;
	line-height: var.$titleHeight;
	letter-spacing: var.$letterSpacing;
	text-transform: var.$titleTransform;
}