@use '../../variable' as var;
@use '../../mixin' as mix;
@use '../../extentsions';
@use '../../block/burger';

$sizeAfterEl: 20px;
.header {

  &__navigation {
  }

  &__profile {
  }
}

.navigation {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 10px 0;
  background: var.$mainBg;
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: 0 1 auto;
  }

  &__logo-link {
    font-family: var.$family;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }

  &__logo-link {
    @include mix.adaptivFont(30, 18);
  }

  &__nav {
  }

  &__phone {
    flex: 0 1 auto;
    @include mix.displayFlex(flex, flex-end, center);
  }

  &__icon {
  }

  &__link {

  }
}

.nav {
  flex: 1 1 auto;
  @include mix.displayFlex(flex, center, center);
  &__list {
    @include mix.displayFlex(flex, center, center);
  }

  &__link {
    display: block;
    padding: 13px;
    font-weight: 600;
    font-size: var.$generalTextSize;
    line-height: 130%;
    transition: .5s;
    
    &:hover{
      transform: scale(1.1);
      text-decoration: underline;
    }
  }
}

.phone {
  &__link {
    position: relative;
    padding-left: 25px;
    font-weight: 600;
    font-size: var.$generalBigTextSize;
    transition: .5s;

    &:after {
      @extend %pseudoElement;
      top: calc(50% - ($sizeAfterEl / 2));
      left: 0;
      width: $sizeAfterEl;
      height: $sizeAfterEl;
      background: url('../../../assets/images/phone.svg') center center / contain no-repeat;
    }

    &:hover {
      transform: scale(1.1);
      text-decoration: underline;
    }
  }
}

.profile {
  position: relative;
  height: 100vh;
  margin-top: 1%;
  background: url('../../../assets/images/bg-profile.png') bottom center / cover no-repeat;
  &:before {
    @extend %pseudoElement;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
  }

  &__wrapper {
    @include mix.displayFlex(flex, end, center);
    position: relative;
    z-index: 2;
    padding-top: 15%;
  }

  &__row {
    width: 50%;
  }

  &__main-title {
    margin-bottom: 8%;
    &>span {
      color: var.$accentColor;
    }
  }

  &__subtitle {
    margin-bottom: 8%;
    color: var.$lightColor;
    font-size: var.$generalBigTextSize;
    font-weight: 400;
  }

  &__buttons {
    @include mix.displayFlex(flex, space-between, center);
    gap: 15px;
  }

  &__button {
  }

  &__button_black {
    color: #fff;
    background: #000;
  }
}