@use "sass:map";
/// общие
$mainBg: #FFF; // background
$accentColor: #000; // акцентный цвет и цвет скроллбара
$widthContainer: 1200; // max-width
$family: 'Montserrat', 'Arial', 'Helvetica', sans-serif; // font-family дефолтный шрифт
$subFamily: 'Montserrat', 'Arial', 'Helvetica', sans-serif; // font-family допшрифт шрифт
$generalBigTextSize: 18px; // font-size текст который надо сделать чуть больше, чем основной
$generalTextSize: 16px; // font-size основного текста
$generalLineHeight: 130%; // line-height основного текста
$generalColorText: #000; // color основного текста
$subColorText: #000; // color дополнительного текста

/// скроллбар
$borderRadius: none;

/// заголовок главный
$titleColor: #FFF; // color
$titleWeight: 700; // font-weight
$titleFontSize: 50px; // font-size
$titleHeight: 130%; // line-height
$titleTransform: none; // text-transform

/// подзаголовок
$subTitleColor: #000; // color
$subTitleWeight: 700; // font-weight
$subTitleFontSize: 26px; // font-size
$subTitleHeight: 130%; // line-height

/// бургер
$colorBurger: #000;

/// кнопка вверх
$darkColor: #000; // border, background for :before, :after, background for button-up__link
$lightColor: #FFF; // hover background for :before, :after